In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from datetime import datetime as Date
from crypto.libs.marketcap import MarketCap
from crypto.libs.price import Price
from crypto.libs.coins import Coins
from crypto.libs.scraping.refresh import run as MarketCapInit
from crypto.libs import dateutils

### Getting price information

In [3]:
#MarketCapInit()
start_date = Date(2017, 10, 17)
end_date = Date(2017, 11, 17)

In [4]:
price = Price()

In [5]:
price.historical("XLM", "BTC", end_date, exchange='Poloniex')
price.change("XLM", "USD", start_date, end_date, "Poloniex")

               close
2017-11-16  0.000005

2.9700000000000002

In [6]:
price.current("BTC", "USD", "Bitstamp")
price.current("BTC")

start_date = Date(2018, 1, 1)
end_date = Date(2018, 1, 6)

price.historical("BTC", "USD", start_date, end_date, 
                 bar_type = "m", bar_size = 5, num_points = 2, 
                 exchange='Bitstamp')

price.historical("BTC", "USD", start_date, end_date, 
                 bar_type = "d", bar_size = 1, num_points = 2, 
                 exchange='Bitstamp')

price.historical("ADA", "BTC", start_date, end_date, 
                 num_points = 2, exchange='Binance')

price.historical("ADA", "BTC", start_date, exchange='Binance')

16402.27

16402.27

                        close
2018-01-05 23:50:00  16838.99
2018-01-05 23:55:00  16928.00
2018-01-06 00:00:00  16909.15

               close
2018-01-04  15143.67
2018-01-05  16928.00
2018-01-06  17149.67

               close
2018-01-04  0.000076
2018-01-05  0.000057
2018-01-06  0.000059

               close
2017-12-31  0.000052

In [7]:
price.historical("ADA", "BTC", Date(2018, 1, 6), exchange='Binance')

               close
2018-01-05  0.000057

In [9]:
price.historical("ADA", "BTC", Date(2018, 1, 3))

               close
2018-01-02  0.000053

In [24]:
working_data = price.dataset[price.dataset["Symbol"] == "ADA"]
working_data = working_data[(working_data["Date"] >= Date(2018, 1, 5)) &
                            (working_data["Date"] <= Date(2018, 1, 6))]
working_data = working_data[["Close"]]
working_data["Close"].values[0]

0.99955899999999998

In [11]:
working_data = price.dataset[self.dataset["Symbol"] == base_coin]
working_data

AttributeError: 'Price' object has no attribute 'dataset'