In [1]:
import requests
import pandas as pd

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from datetime import datetime as Date
from crypto.libs.marketcap import MarketCap
from crypto.libs.price import Price
from crypto.libs.coins import Coins
from crypto.libs.scraping.refresh import run as MarketCapInit
from crypto.libs import dateutils

### Getting price data

In [3]:
#MarketCapInit()
start_date = Date(2017, 10, 17)
end_date = Date(2017, 10, 23)

In [4]:
price = Price()

In [6]:
coins = Coins()

In [10]:
price.change("ETH", "USD", bar_size = 3, bar_type = "h")
price.change("ETH", "USD", bar_size = 10, bar_type = "m")
price.change("ETH", "USD", bar_size = 1, bar_type = "d")

0.52495127422498289

-0.0036577448174313076

8.6793652686280929

In [11]:
price.change("XLM", "USD", bar_size = 3, bar_type = "h")
price.change("XLM", "USD", bar_size = 10, bar_type = "m")
price.change("XLM", "USD", bar_size = 1, bar_type = "d")

0.45519203413941778

0.28320589068253632

2.8911811710010227

In [12]:
price.change("XLM", "USD", start_date, end_date)

-26.199999999999999

In [13]:
coin = "ETH"
ico_date = coins.coin_data(coin, "ICO")
ico_date

datetime.datetime(2015, 8, 7, 0, 0)

In [14]:
price.historical("ETH", "USD", ico_date)
price.historical("ETH", "USD", ico_date, exchange="Poloniex")

2.77

2.77

In [15]:
price.historical("ETH", "BTC", ico_date)
price.historical("ETH", "BTC", ico_date, exchange="Poloniex")

0.0099077187209385513

0.00998

In [16]:
price.historical("ETH", "USD", start_date, end_date)

             close
2017-10-17  317.08
2017-10-18  314.32
2017-10-19  308.09
2017-10-20  304.01
2017-10-21  300.19
2017-10-22  295.45
2017-10-23  286.95

In [17]:
price.historical("ETH", "BTC", start_date, end_date)
price.historical("ETH", "BTC", start_date, end_date, exchange="Poloniex")

               close
2017-10-17  0.056566
2017-10-18  0.056222
2017-10-19  0.053970
2017-10-20  0.050572
2017-10-21  0.049770
2017-10-22  0.049173
2017-10-23  0.048387

              close
2017-10-17  0.05634
2017-10-18  0.05618
2017-10-19  0.05388
2017-10-20  0.05051
2017-10-21  0.04990
2017-10-22  0.04923
2017-10-23  0.04819

In [18]:
# Get historical data point (no exchange)
price.historical("ADA", "USD", Date(2018, 1, 3))

1.0800000000000001

In [19]:
# Get historical data timeseries (no exchange)
price.historical("ADA", "USD", start_date, end_date, num_points = 3)

               close
2017-10-21  0.028436
2017-10-22  0.027729
2017-10-23  0.025454

In [20]:
start_date = Date(2017, 11, 17)
end_date = Date(2017, 12, 17)
price.historical("ETH", "USD", start_date)
price.historical("ETH", "USD", end_date)
price.historical("ETH", "USD", start_date, exchange='Poloniex')
price.historical("ETH", "USD", end_date, exchange='Poloniex')
price.historical("ETH", "USD", start_date, exchange='Bitstamp')
price.historical("ETH", "USD", end_date, exchange='Bitstamp')

332.38999999999999

719.98000000000002

331.72

717.71

331.72

717.71

In [ ]:
price.current("BTC", "USD", "Bitstamp")
price.current("BTC")

start_date = Date(2018, 1, 1)
end_date = Date(2018, 1, 6)

price.historical("BTC", "USD", start_date, end_date, 
                 bar_type = "m", bar_size = 5, num_points = 2, 
                 exchange='Bitstamp')

price.historical("BTC", "USD", start_date, end_date, 
                 bar_type = "d", bar_size = 1, num_points = 2, 
                 exchange='Bitstamp')

price.historical("ADA", "BTC", start_date, end_date, 
                 num_points = 2, exchange='Binance')

price.historical("ADA", "BTC", start_date, exchange='Binance')

In [ ]:
price.historical("ADA", "BTC", Date(2018, 1, 6), exchange='Binance')

In [ ]:
price.historical("ADA", "USD", Date(2018, 1, 3))