In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from datetime import datetime as Date
from crypto.libs.marketcap import MarketCap
from crypto.libs.price import Price
from crypto.libs.coins import Coins
from crypto.libs.scraping.refresh import run as MarketCapInit
from crypto.libs import dateutils

In [2]:
import numpy as np
import pandas as pd

In [3]:
coins = Coins()
price = Price()

In [7]:
today = Date.today()

In [4]:
cryptopia_coins = coins.exchanges(["Cryptopia"])

In [8]:
data = []
i = 0
for coin in cryptopia_coins:
    i = i + 1
    print ("{}/{}".format(i, len(cryptopia_coins)))
    if coin == "BTC": 
        continue
    ico_date = coins.coin_data(coin, "ICO")
    
    coin_age = coins.coin_data(coin, "AGE")
    px = price.current(coin, "USDT", exchange="")
    
    timeseries = price.historical(coin, "USD", ico_date, today)
    
    sorted_timeseries = timeseries.sort_index()
    sorted_timeseries = pd.DataFrame(sorted_timeseries)
    ico_price = sorted_timeseries.head(1)["close"].values[0]
    ico_date = pd.to_datetime(sorted_timeseries.head(1).index.values[0]).date()

    x_values = {
        2: {"found": False, "time": None, "date": None},
        3: {"found": False, "time": None, "date": None},
        4: {"found": False, "time": None, "date": None},
        5: {"found": False, "time": None, "date": None},
        7: {"found": False, "time": None, "date": None},
        10: {"found": False, "time": None, "date": None},
        15: {"found": False, "time": None, "date": None}}



    for date, close in sorted_timeseries.iterrows():
        for times, info in x_values.items():
            if close.values[0] >= ico_price * times and info["found"] == False:
                x_values[times]["date"] = pd.to_datetime(date).date()
                x_values[times]["time"] = (x_values[times]["date"] - ico_date).total_seconds() / (60*60*24)
                x_values[times]["found"] = True
    
    coin_return = timeseries.tail(1)["close"].values[0] / timeseries.head(1)["close"].values[0] - 1
    
    thirty_d_change_vs_usd = None
    thirty_d_change_vs_btc = None
    seven_d_change_vs_usd = None
    seven_d_change_vs_btc = None
    one_d_change_vs_usd = None
    one_d_change_vs_btc = None
    one_h_change_vs_usd = None
    one_h_change_vs_btc = None
    thirty_min_change_vs_usd = None
    thirty_min_change_vs_btc = None
    five_min_change_vs_usd = None
    five_min_change_vs_btc = None
    
    try:
        thirty_d_change_vs_usd = price.change(coin, "USD", bar_size = 30, bar_type = "d")
    except:
        pass
    
    try:
        thirty_d_change_vs_btc = price.change(coin, "BTC", bar_size = 30, bar_type = "d")
    except:
        pass
    
    try:
        seven_d_change_vs_usd = price.change(coin, "USD", bar_size = 7, bar_type = "d")
    except:
        pass
    
    try: 
        seven_d_change_vs_btc = price.change(coin, "BTC", bar_size = 7, bar_type = "d")
    except:
        pass
    
    try: 
        one_d_change_vs_usd = price.change(coin, "USD", bar_size = 1, bar_type = "d")
    except:
        pass
    
    try:
        one_d_change_vs_btc = price.change(coin, "BTC", bar_size = 1, bar_type = "d")
    except:
        pass
    
    try:
        one_h_change_vs_usd = price.change(coin, "USD", bar_size = 1, bar_type = "h")
    except:
        pass
    
    try:
        one_h_change_vs_btc = price.change(coin, "BTC", bar_size = 1, bar_type = "h")
    except:
        pass
    
    try:
        thirty_min_change_vs_usd = price.change(coin, "USD", bar_size = 30, bar_type = "m")
    except:
        pass
    
    try:
        thirty_min_change_vs_btc = price.change(coin, "BTC", bar_size = 30, bar_type = "m")
    except:
        pass
    
    try:
        five_min_change_vs_usd = price.change(coin, "USD", bar_size = 5, bar_type = "m")
    except:
        pass
    
    try:
        five_min_change_vs_btc = price.change(coin, "BTC", bar_size = 5, bar_type = "m")
    except:
        pass
    
    data.append({"Coin": coin, 
                 "Price": px, 
                 "ICO": ico_date, 
                 "ICO Price": ico_price, 
                 "Age": coin_age, 
                 "Total Return": coin_return, 
                 "2x": x_values[2]["time"],
                 "3x": x_values[3]["time"],
                 "4x": x_values[4]["time"],
                 "5x": x_values[5]["time"],
                 "7x": x_values[7]["time"],
                 "10x": x_values[10]["time"],
                 "15x": x_values[15]["time"],
                 "30d USD": thirty_d_change_vs_usd, 
                 "30d BTC": thirty_d_change_vs_btc,
                 "7d USD": seven_d_change_vs_usd, 
                 "7d BTC": seven_d_change_vs_btc,
                 "1d USD": one_d_change_vs_usd, 
                 "1d BTC": one_d_change_vs_btc,
                 "1h USD": one_h_change_vs_usd, 
                 "1h BTC": one_h_change_vs_btc,
                 "30m USD": thirty_min_change_vs_usd, 
                 "30m BTC": thirty_min_change_vs_btc,
                 "5m USD": five_min_change_vs_usd, 
                 "5m BTC": five_min_change_vs_btc })
    
    cols = [   "Coin", 
               "Price", 
               "ICO", 
               "ICO Price", 
               "Age", 
               "Total Return", 
               "2x",
               "3x",
               "4x",
               "5x",
               "7x",
               "10x",
               "15x",
               "30d USD", 
               "30d BTC",
               "7d USD", 
               "7d BTC",
               "1d USD", 
               "1d BTC",
               "1h USD", 
               "1h BTC",
               "30m USD", 
               "30m BTC",
               "5m USD", 
               "5m BTC"]
    
df = pd.DataFrame(data, columns=cols)

1/455
R ICO
R AGE
2/455
QTL ICO
QTL AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=QTL&tsym=USD&aggregate=5&toTs=1515448417&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=QTL&tsym=BTC&aggregate=5&toTs=1515448417&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
3/455
RKC ICO
RKC AGE
4/455
EVR ICO
EVR AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=EVR&tsym=USD&aggregate=5&toTs=1515448423&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=EVR&tsym=BTC&aggregate=5&toTs=1515448424&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
5/455
CRAVE ICO
CRAVE AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=CRAVE&tsym=USD&aggregate=5&toTs=1515448427&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=CRAVE&tsym=BTC&aggregate=5&toTs=1515448428&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
6/455
ABC ICO
ABC AGE
7/455
RED ICO
RED AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=RED&tsym=USD&aggregate=5&toTs=1515448434&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=RED&tsym=BTC&aggregate=5&toTs=1515448434&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
8/455
PINK ICO
PINK AGE
9/455
AMP ICO
AMP AGE
10/455
CRM ICO
CRM AGE
11/455
SKR ICO
SKR AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=SKR&tsym=USD&aggregate=5&toTs=1515448447&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=SKR&tsym=BTC&aggregate=5&toTs=1515448447&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
12/455
XFT ICO
XFT AGE
13/455
HOLD ICO
HOLD AGE
14/455
SYNX ICO
SYNX AGE
15/455
GAIA ICO
GAIA AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=GAIA&tsym=USD&aggregate=5&toTs=1515448461&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=GAIA&tsym=BTC&aggregate=5&toTs=1515448461&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
16/455
PXI ICO
PXI AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=PXI&tsym=USD&aggregate=5&toTs=1515448464&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=PXI&tsym=BTC&aggregate=5&toTs=1515448464&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
17/455
BCF ICO
BCF AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=BCF&tsym=USD&aggregate=5&toTs=1515448467&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=BCF&tsym=BTC&aggregate=5&toTs=1515448467&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
18/455
WC ICO
WC AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=WC&tsym=USD&aggregate=5&toTs=1515448470&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=WC&tsym=BTC&aggregate=5&toTs=1515448470&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
19/455
SKC ICO
SKC AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=SKC&tsym=USD&aggregate=5&toTs=1515448473&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=SKC&tsym=BTC&aggregate=5&toTs=1515448473&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
20/455
XID ICO
XID AGE
21/455
TRC ICO
TRC AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=TRC&tsym=USD&aggregate=5&toTs=1515448480&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=TRC&tsym=BTC&aggregate=5&toTs=1515448480&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
22/455
DGB ICO
DGB AGE
23/455
VIVO ICO
VIVO AGE
24/455
DIVX ICO
DIVX AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=DIVX&tsym=USD&aggregate=5&toTs=1515448489&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=DIVX&tsym=BTC&aggregate=5&toTs=1515448489&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
25/455
OTN ICO
OTN AGE
26/455
611 ICO
611 AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=611&tsym=USD&aggregate=30&toTs=1515448495&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=611&tsym=BTC&aggregate=30&toTs=1515448495&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=611&tsym=USD&aggregate=5&toTs=1515448496&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=611&tsym=BTC&aggregate=5&toTs=1515448496&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
27/455
PXC ICO
PXC AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=PXC&tsym=USD&aggregate=5&toTs=1515448499&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=PXC&tsym=BTC&aggregate=5&toTs=1515448500&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
28/455
PRL ICO
PRL AGE
29/455
DGPT ICO
DGPT AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=DGPT&tsym=USD&aggregate=30&toTs=1515448507&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=DGPT&tsym=BTC&aggregate=30&toTs=1515448507&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=DGPT&tsym=USD&aggregate=5&toTs=1515448507&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=DGPT&tsym=BTC&aggregate=5&toTs=1515448507&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
30/455
ARC ICO
ARC AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=ARC&tsym=USD&aggregate=5&toTs=1515448511&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=ARC&tsym=BTC&aggregate=5&toTs=1515448511&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
31/455
UNIFY ICO
UNIFY AGE
32/455
DNR ICO
DNR AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=DNR&tsym=USD&aggregate=5&toTs=1515448519&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=DNR&tsym=BTC&aggregate=5&toTs=1515448519&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
33/455
XGOX ICO
XGOX AGE
34/455
CHESS ICO
CHESS AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=CHESS&tsym=USD&aggregate=5&toTs=1515448530&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=CHESS&tsym=BTC&aggregate=5&toTs=1515448530&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
35/455
VPRC ICO
VPRC AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=VPRC&tsym=USD&aggregate=5&toTs=1515448533&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
36/455
VIDZ ICO
VIDZ AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=VIDZ&tsym=USD&aggregate=5&toTs=1515448536&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=VIDZ&tsym=BTC&aggregate=5&toTs=1515448536&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
37/455
POP ICO
POP AGE
38/455
XCXT ICO
XCXT AGE
39/455
CTR ICO
CTR AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=CTR&tsym=USD&aggregate=5&toTs=1515448546&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
40/455
POLL ICO
POLL AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=POLL&tsym=USD&aggregate=5&toTs=1515448550&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=POLL&tsym=BTC&aggregate=5&toTs=1515448550&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
41/455
BSD ICO
BSD AGE
42/455
DON ICO
DON AGE
43/455
NAV ICO
NAV AGE
44/455
BSTY ICO
BSTY AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=BSTY&tsym=USD&aggregate=5&toTs=1515448563&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=BSTY&tsym=BTC&aggregate=5&toTs=1515448563&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
45/455
SAGA ICO
SAGA AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=SAGA&tsym=USD&aggregate=5&toTs=1515448566&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=SAGA&tsym=BTC&aggregate=5&toTs=1515448567&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
46/455
HBC ICO
HBC AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=HBC&tsym=USD&aggregate=5&toTs=1515448570&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=HBC&tsym=BTC&aggregate=5&toTs=1515448571&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
47/455
SMART ICO
SMART AGE
48/455
ZOI ICO
ZOI AGE
49/455
MAGE ICO
MAGE AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=MAGE&tsym=USD&aggregate=5&toTs=1515448580&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=MAGE&tsym=BTC&aggregate=5&toTs=1515448581&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
50/455
KED ICO
KED AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=KED&tsym=USD&aggregate=5&toTs=1515448583&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=KED&tsym=BTC&aggregate=5&toTs=1515448584&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
51/455
BTM ICO
BTM AGE
52/455
SXC ICO
SXC AGE
53/455
TIT ICO
TIT AGE
54/455
XCPO ICO
XCPO AGE
55/455
VRM ICO
VRM AGE
56/455
KUSH ICO
KUSH AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=KUSH&tsym=USD&aggregate=5&toTs=1515448605&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=KUSH&tsym=BTC&aggregate=5&toTs=1515448606&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
57/455
HSR ICO
HSR AGE
58/455
Q2C ICO
Q2C AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=Q2C&tsym=USD&aggregate=5&toTs=1515448613&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=Q2C&tsym=BTC&aggregate=5&toTs=1515448614&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
59/455
300 ICO
300 AGE
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=300&tsym=USD&aggregate=5&toTs=1515448617&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=300&tsym=BTC&aggregate=5&toTs=1515448617&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
60/455
EUC ICO
EUC AGE
61/455
ANI ICO
ANI AGE
62/455
ONION ICO
ONION AGE
63/455
KAYI ICO
KAYI AGE
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=KAYI&tsym=USD&aggregate=720&toTs=1515448632&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=KAYI&tsym=BTC&aggregate=720&toTs=1515448632&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=KAYI&tsym=USD&aggregate=168&toTs=1515448632&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=KAYI&tsym=BTC&aggregate=168&toTs=1515448632&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=KAYI&tsym=USD&aggregate=24&toTs=1515448633&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=KAYI&tsym=BTC&aggregate=24&toTs=1515448633&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=KAYI&tsym=USD&aggregate=1&toTs=1515448633&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=KAYI&tsym=BTC&aggregate=1&toTs=1515448633&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=KAYI&tsym=USD&aggregate=30&toTs=1515448634&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=KAYI&tsym=BTC&aggregate=30&toTs=1515448634&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=KAYI&tsym=USD&aggregate=5&toTs=1515448634&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histominute?fsym=KAYI&tsym=BTC&aggregate=5&toTs=1515448635&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
64/455
XBY ICO
XBY AGE
65/455
BLZ ICO
BLZ AGE
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=BLZ&tsym=USD&aggregate=720&toTs=1515448640&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=BLZ&tsym=BTC&aggregate=720&toTs=1515448640&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=BLZ&tsym=USD&aggregate=168&toTs=1515448640&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=BLZ&tsym=BTC&aggregate=168&toTs=1515448640&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=BLZ&tsym=USD&aggregate=24&toTs=1515448640&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}
Error on calling https://min-api.cryptocompare.com/data/histohour?fsym=BLZ&tsym=BTC&aggregate=24&toTs=1515448641&limit=2, got error {'Type': 100, 'Aggregated': False, 'FirstValueInArray': True, 'Data': [], 'Response': 'Success'}

In [9]:
df

,Coin,Price,ICO,ICO Price,Age,Total Return,2x,3x,4x,5x,...,7d USD,7d BTC,1d USD,1d BTC,1h USD,1h BTC,30m USD,30m BTC,5m USD,5m BTC
0,R,1.260000,2017-11-01,7.787900e-02,0.19,16.591392,17.0,33.0,34.0,36.0,...,-7.971014,-1.390349,-8.633094,-2.540416,0.000000,0.000000,0.000000,-0.023691,0.000000,-0.023691
1,QTL,0.081230,2014-07-12,1.724000e-03,3.51,53.485499,7.0,11.0,11.0,11.0,...,-12.366807,-5.902778,-11.634469,-5.902778,7.955449,7.753479,7.613006,7.539683,NaN,NaN
2,RKC,5.890000,2017-10-16,4.680870e-01,0.23,7.331784,15.0,26.0,26.0,26.0,...,52.454780,63.750000,58.445040,68.452636,13.001912,12.672018,0.000000,-0.177800,0.169492,0.000000
3,EVR,0.404500,2017-10-19,3.080000e+00,0.23,-0.878492,NaN,NaN,NaN,NaN,...,25.169648,34.328358,16.009148,23.456790,-0.172202,-0.405754,0.123365,0.000000,NaN,NaN
4,CRAVE,6.590000,2015-03-26,7.869200e-02,2.80,98.628933,3.0,10.0,11.0,12.0,...,-9.945504,-3.296703,-14.044213,-8.466819,-12.101064,-12.298186,-12.217795,-12.228207,NaN,NaN
5,ABC,67.430000,2016-05-18,7.026770e-01,1.65,96.470104,7.0,8.0,412.0,417.0,...,-19.810202,-13.872943,0.625186,7.166667,-46.959592,-47.047059,-38.315540,-38.342466,-0.014791,0.000000
6,RED,0.022770,2014-01-24,1.638900e-02,3.97,0.432851,NaN,NaN,NaN,NaN,...,-15.756458,-9.523810,-0.174902,6.293706,-1.764200,-1.935484,-9.476606,-9.523810,NaN,NaN
7,PINK,0.091980,2014-05-11,7.000000e-05,3.68,1619.514286,19.0,19.0,19.0,19.0,...,-13.741815,-7.390649,-17.151842,-11.781609,-0.485646,-0.647249,0.853112,0.821018,0.141182,0.163132
8,AMP,0.999600,2015-12-04,2.234000e-03,2.11,434.100269,3.0,27.0,30.0,30.0,...,0.908174,8.610026,5.596621,12.719595,5.141415,5.202586,3.788272,3.973200,1.142915,1.382558
9,CRM,0.071460,2017-07-31,1.904300e-02,0.44,1.873444,154.0,159.0,NaN,NaN,...,26.886291,36.285714,34.081976,42.814371,0.167785,0.000000,0.041894,0.000000,1.257951,1.273885
10,SKR,0.010340,2016-10-14,1.820000e-04,1.24,50.071429,179.0,267.0,267.0,267.0,...,28.456293,38.000000,15.650815,23.214286,3.084577,2.985075,2.982107,2.985075,NaN,NaN
11,XFT,2.010000,2016-04-26,1.580000e-04,1.71,13859.759494,424.0,424.0,424.0,424.0,...,-1.463415,5.738994,-6.046512,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,HOLD,0.077750,2017-11-11,1.909130e-01,0.16,-0.514816,NaN,NaN,NaN,NaN,...,13.404162,21.830986,-14.241691,-8.626761,2.297492,2.165354,-10.816070,-10.824742,0.334793,0.386847
13,SYNX,1.090000,2016-07-11,8.128000e-03,1.50,104.259104,5.0,7.0,8.0,10.0,...,34.952767,44.508213,28.339750,36.282195,0.000000,-0.841934,0.000000,-0.666576,0.000000,0.013697
14,GAIA,0.030110,2014-10-11,2.536000e-03,3.26,25.686514,956.0,1001.0,1001.0,1006.0,...,-51.181612,-47.519582,-54.564628,-51.566265,-39.046079,-39.090909,-39.119903,-39.090909,NaN,NaN
15,PXI,0.038200,2014-10-04,1.205000e-03,3.28,33.222407,11.0,11.0,425.0,536.0,...,19.190031,28.140704,-6.568987,-0.390625,0.446311,0.393701,0.340939,0.393701,NaN,NaN
16,BCF,0.221300,2014-12-07,1.430000e-04,3.10,1770.048951,1.0,2.0,2.0,2.0,...,-21.166845,-15.261044,-10.789050,-4.893754,-4.770090,-4.832474,-0.045106,0.000000,NaN,NaN
17,WC,1.440000,2017-11-20,1.860000e+00,0.14,-0.295699,NaN,NaN,NaN,NaN,...,16.129032,24.831256,12.500000,19.912718,0.000000,0.000000,0.000000,-0.010397,NaN,NaN
18,SKC,0.078950,2014-03-15,3.690000e-03,3.83,28.963957,1355.0,1359.0,1361.0,1362.0,...,-26.617100,-20.989505,-27.225806,-22.271386,3.662859,3.740157,3.540519,3.740157,NaN,NaN
19,XID,0.343600,2016-07-21,4.315900e-02,1.48,7.150027,156.0,161.0,356.0,386.0,...,6.314199,13.689320,-6.109925,-0.636402,-0.956938,-0.636402,0.028425,0.085470,-0.255102,0.085470
20,TRC,0.423600,2013-04-28,6.468920e-01,4.72,-0.308759,215.0,NaN,NaN,NaN,...,-3.638845,3.741746,-3.286921,3.249361,0.905193,1.000000,-0.117897,0.106195,NaN,NaN
21,DGB,0.113100,2014-02-06,1.370000e-03,3.94,91.650365,1195.0,1195.0,1195.0,1196.0,...,1.083333,5.151915,-4.788069,2.051282,4.930796,2.313625,2.535926,-0.500000,-2.098467,-0.624220
22,VIVO,11.090000,2017-09-12,2.780000e+00,0.33,2.856115,7.0,115.0,NaN,NaN,...,11.919192,20.619397,8.203125,15.625000,4.429783,4.578858,2.402957,2.635229,2.308403,2.635229
23,DIVX,10.420000,2017-11-27,8.460380e-01,0.12,10.157891,32.0,36.0,37.0,38.0,...,24.195471,33.737024,12.405609,19.989652,-2.069614,-1.875882,-13.250000,-12.961341,NaN,NaN
24,OTN,10.050000,2017-10-25,1.820000e+00,0.21,4.027473,5.0,6.0,6.0,11.0,...,8.073197,16.481417,5.462185,12.665883,-3.182257,-3.050014,-6.778087,-6.548697,-9.057971,-8.735882
25,611,0.871300,2016-05-09,1.312380e-01,1.68,6.572586,580.0,586.0,602.0,602.0,...,-17.123810,-10.509309,-9.259645,-2.985822,-0.217865,0.000000,NaN,NaN,NaN,NaN
26,PXC,0.024570,2013-07-04,1.248100e-02,4.53,1.273536,7.0,15.0,149.0,149.0,...,-23.551402,-17.587940,-11.821775,-5.747126,1.615576,1.863354,-10.702585,-10.382514,NaN,NaN
27,PRL,3.660000,2017-11-20,2.663500e-02,0.14,146.174770,30.0,30.0,31.0,31.0,...,-5.440415,2.132999,-6.169666,0.411184,0.274725,0.493827,-0.273224,0.081967,-1.351351,-1.333333
28,DGPT,6.840000,2017-11-20,1.070000e+00,0.14,3.392523,36.0,44.0,46.0,NaN,...,58.564815,69.862505,46.367521,55.370496,-0.291121,0.307220,NaN,NaN,NaN,NaN
29,ARC,0.293900,2016-10-19,6.940000e-03,1.23,1415.426513,43.0,43.0,43.0,43.0,...,99.524133,115.131579,44.526627,54.731861,-3.712221,-3.349754,-2.818302,-2.339472,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,UR,0.007368,2017-03-03,1.097800e-02,0.86,-0.420660,NaN,NaN,NaN,NaN,...,27.311865,38.888889,18.515550,28.205128,-0.269796,0.000000,-0.430976,0.000000,-0.229389,0.000000
425,MZC,0.005452,2014-02-27,1.949000e-03,3.88,1.761416,1.0,1.0,1.0,1.0,...,-0.273523,8.823529,6.856808,15.625000,-14.196078,-13.953488,-18.138282,-17.777778,-0.255288,0.000000
426,HDLB,0.418500,2017-09-29,6.032790e-01,0.28,-0.332312,NaN,NaN,NaN,NaN,...,18.286841,29.090909,5.848248,14.516129,-0.284968,0.000000,NaN,NaN,NaN,NaN
427,PPC,6.110000,2013-04-28,3.865250e-01,4.72,15.635405,204.0,207.0,209.0,210.0,...,-2.261712,5.072280,-6.635802,6.523929,-0.329489,0.738447,0.000000,2.945472,0.000000,2.075790
428,BLC,0.061150,2014-02-12,6.833300e-02,3.92,0.095415,NaN,NaN,NaN,NaN,...,-24.029758,-17.000000,-16.548624,-12.636166,1.720578,2.295918,1.563305,2.295918,0.000000,0.000000
429,TRUMP,0.513000,2016-03-01,1.110000e-03,1.87,734.757658,1.0,1.0,38.0,38.0,...,-12.468020,-4.236589,-23.639800,-17.732933,0.332616,48.469585,-1.289702,47.214752,-5.474654,-5.124012
430,CJ,0.006042,2016-07-11,9.700000e-05,1.50,55.938144,1.0,1.0,3.0,3.0,...,1.206434,10.810811,7.876407,17.142857,4.444829,5.128205,4.282507,5.128205,-0.379413,0.000000
431,NET,0.007368,2013-12-17,4.203000e-03,4.08,1704.924340,7.0,7.0,14.0,14.0,...,20.019579,31.578947,14.973429,25.000000,-9.797670,-9.090909,-9.930207,-9.090909,NaN,NaN
432,MOJO,0.074860,2016-04-06,1.367000e-03,1.77,59.221653,335.0,335.0,335.0,335.0,...,6.270439,16.513761,-22.072636,-15.191987,-13.164321,-12.413793,-13.154222,-12.262522,-12.778881,-12.262522
433,ORME,2.080000,2017-09-29,5.992950e-01,0.28,2.303882,47.0,48.0,49.0,49.0,...,-0.966184,8.665105,6.217617,15.422886,5.128205,5.775076,0.000000,0.650759,NaN,NaN
434,LTB,1.180000,2014-03-12,1.330000e+00,3.84,0.007519,NaN,NaN,NaN,NaN,...,-9.230769,-0.633462,-10.606061,-2.806463,-0.840336,0.000000,-10.606061,-9.950473,NaN,NaN
435,LEA,0.000884,2015-04-19,1.100000e-05,2.74,73.090909,2.0,371.0,371.0,371.0,...,9.398636,20.000000,10.340085,20.000000,19.047619,20.000000,18.855219,20.000000,49.222185,50.000000
436,FONZ,0.005010,2015-09-15,2.500000e-05,2.33,240.360000,1.0,676.0,676.0,676.0,...,3.368465,13.333333,-8.016179,0.000000,16.372093,17.241379,-3.713681,-2.857143,-3.304348,-2.857143
437,XST,1.280000,2014-07-10,5.724000e-03,3.51,233.102027,55.0,55.0,56.0,56.0,...,-9.219858,-0.900593,-5.185185,2.961033,0.000000,0.718341,0.000000,1.069643,0.000000,0.172851
438,FJC,0.005895,2015-06-14,7.000000e-06,2.58,1086.428571,7.0,7.0,7.0,7.0,...,-17.049458,-9.090909,-21.694600,-14.893617,-7.654902,-6.976744,-0.892256,0.000000,-0.456544,0.000000
439,HST,4.860000,2017-11-13,3.811100e-01,0.16,9.784288,38.0,42.0,51.0,52.0,...,58.306189,73.410405,16.826923,26.923077,-9.158879,-8.587258,-7.604563,-6.858594,-0.409836,0.000000
440,PIGGY,0.006631,2014-06-15,1.740000e-04,3.58,32.500000,746.0,1029.0,1029.0,1029.0,...,24.441105,36.363636,15.019969,25.000000,-0.719424,0.000000,-0.868004,0.000000,-0.435894,0.000000
441,SCORE,0.023580,2017-04-01,2.820000e-04,0.78,44.106383,16.0,51.0,52.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,NEVA,0.113900,2016-03-22,4.653000e-03,1.81,20.361272,2.0,3.0,4.0,4.0,...,17.289045,28.618968,16.417299,26.721311,-32.621590,-32.014072,-42.481013,-41.879699,-42.091837,-41.879699
443,NLC2,0.362200,2016-09-12,1.429000e-03,1.33,297.370189,280.0,280.0,280.0,280.0,...,-13.309524,-4.761905,-11.200586,-3.200625,-1.992998,-0.958466,-3.602649,-2.439024,-2.229984,-1.821061
444,FCT,71.530000,2015-10-06,1.882140e-01,2.27,378.249153,76.0,76.0,95.0,98.0,...,-2.496608,7.200700,2.001419,11.217075,1.097355,2.169378,-0.305216,0.906469,-0.443336,0.000000
445,MINEX,0.043660,2017-08-07,6.776590e-01,0.43,-0.930344,NaN,NaN,NaN,NaN,...,-7.194245,2.047782,3.467799,12.830189,-7.546374,-6.562500,-1.216216,0.000000,NaN,NaN
446,DOT,0.066000,2015-02-15,9.200000e-05,2.91,814.684783,472.0,475.0,475.0,496.0,...,19.989311,31.896552,1.491413,10.602410,-0.354977,0.657895,1.952179,3.146067,-0.443525,0.000000
447,UBQ,6.070000,2014-09-07,2.787600e-02,3.35,234.686612,568.0,753.0,865.0,868.0,...,6.271777,16.924374,-5.426357,3.175391,1.328904,2.438424,-0.163666,1.093826,0.328947,0.799806
448,VUC,0.011680,2017-07-10,1.247700e-02,0.50,0.018113,42.0,NaN,NaN,NaN,...,-11.262283,-2.439024,-14.680233,-6.976744,-4.549147,-3.614458,-5.773857,-4.761905,NaN,NaN
449,XZC,96.250000,2016-10-06,9.011410e-01,1.26,124.784977,6.0,7.0,7.0,12.0,...,-14.413299,-5.990586,-10.304884,-2.297658,-0.360305,0.595238,-1.174188,-0.060652,-0.360305,-0.015170
450,EDRC,0.142200,2016-04-08,9.667980e-01,1.76,-0.859266,54.0,54.0,54.0,54.0,...,13.672496,24.871795,7.438017,17.067308,-0.694444,0.000000,-0.900901,-0.612245,NaN,NaN
451,FUNK,0.000112,2015-06-18,2.800000e-07,2.57,177.571429,189.0,298.0,366.0,366.0,...,-24.659607,-50.000000,-35.043478,-50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
452,CANN,0.294700,2014-08-02,4.060000e-04,3.45,856.534483,1.0,4.0,4.0,11.0,...,2.775850,12.926693,-11.897680,-3.996194,0.954329,1.662469,0.816882,1.102204,0.816882,1.102204
453,XMCC,6.710000,2017-08-27,3.691940e-01,0.37,23.837890,15.0,122.0,122.0,122.0,...,-19.451074,-11.419218,-21.602787,-14.545792,-0.735294,0.000000,-0.295421,0.000000,NaN,NaN

In [10]:
df.to_csv("cryptopia.download.csv")

In [18]:
df = pd.DataFrame.from_csv("cryptopia.download.csv")

In [11]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [14]:
def col(val):
    if val < 0:
        color = 'red'
    elif val == 0:
        color = 'yellow'
    elif val > 0:
        color = 'green'
    return "background-color: {}; color: white".format(color)

In [36]:
np.isnan(df[df["Coin"] == "HBC"]["2x"].values[0])

True

In [40]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    dfnew = df.sort_values(by="Age")
    dfnew = dfnew[np.isnan(dfnew["3x"]) == True & (np.isnan(dfnew["2x"]) == False)]
    dfnew.style.applymap(col, subset=['Total Return'])

In [42]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    dfnew = df.sort_values(by="Age")
    dfnew = dfnew[(np.isnan(dfnew["2x"]) == True)]
    dfnew.style.applymap(col, subset=['Total Return'])