In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from datetime import datetime as Date
from crypto.libs.marketcap import MarketCap
from crypto.libs.price import Price
from crypto.libs.scraping.refresh import run as MarketCapInit

In [3]:
#MarketCapInit()

### Getting marketcap

In [4]:
marketcap = MarketCap()

In [5]:
start_date = Date(2017, 10, 17)
end_date = Date(2017, 11, 17)

marketcap.top(3)
marketcap.current("bitcoin", "usd")
marketcap.current("ethereum", "usd")
marketcap.historical("bitcoin", "usd", start_date) 
marketcap.top(3, start_date)

[(285911557066.0, 'bitcoin'),
 (120402036967.0, 'ripple'),
 (99307076133.0, 'ethereum')]

'285911557066'

'99307076133.0'

95469300000.0

[(95469300000.0, 'bitcoin'),
 (31727700000.0, 'ethereum'),
 (9867860000.0, 'ripple')]

In [12]:
# Gives historically market cap, market cap rank, price, supply
marketcap.historical("bitcoin", "usd", start_date) 

marketcap.top(100, Date(2017, 10, 11))
marketcap.range(60, 80, Date(2017, 10, 11))

marketcap.smaller(1000000, Date(2017, 11, 22))
marketcap.bigger(10000, Date(2016, 11, 11))
marketcap.between(1000, 1000)

236725000000.0

[(79578200000.0, 'bitcoin'),
 (28626300000.0, 'ethereum'),
 (10061500000.0, 'ripple'),
 (5341000000.0, 'bitcoin-cash'),
 (2706060000.0, 'litecoin'),
 (1892910000.0, 'nem'),
 (556914000.0, 'cardano'),
 (313004000.0, 'stellar'),
 (149682000.0, 'tron')]

### Getting price

In [7]:
price = Price()

In [10]:
price.current("BTC", "USD", "Bitstamp")
price.current("BTC")

start_date = Date(2018, 1, 1)
end_date = Date(2018, 1, 6)
price.historical("BTC", "USD", start_date, end_date, 
                 bar_type = "m", bar_size = 5, num_points = 10, 
                 exchange='Bitstamp')

price.historical("BTC", "USD", start_date, end_date, 
                 bar_type = "d", bar_size = 1, num_points = 10, 
                 exchange='Bitstamp')

price.historical("ADA", "BTC", start_date, end_date, 
                 num_points = 10, exchange='Binance')

16695.01

16695.01

                        close
2018-01-05 23:10:00  16920.00
2018-01-05 23:15:00  16999.00
2018-01-05 23:20:00  17022.01
2018-01-05 23:25:00  17089.99
2018-01-05 23:30:00  17084.00
2018-01-05 23:35:00  17035.01
2018-01-05 23:40:00  16801.80
2018-01-05 23:45:00  16909.01
2018-01-05 23:50:00  16838.99
2018-01-05 23:55:00  16928.00
2018-01-06 00:00:00  16909.15

               close
2017-12-27  15364.93
2017-12-28  14470.07
2017-12-29  14340.00
2017-12-30  12640.00
2017-12-31  13880.00
2018-01-01  13443.41
2018-01-02  14678.94
2018-01-03  15155.62
2018-01-04  15143.67
2018-01-05  16928.00
2018-01-06  16705.12

               close
2017-12-27  0.000027
2017-12-28  0.000028
2017-12-29  0.000037
2017-12-30  0.000052
2017-12-31  0.000052
2018-01-01  0.000056
2018-01-02  0.000053
2018-01-03  0.000071
2018-01-04  0.000076
2018-01-05  0.000057
2018-01-06  0.000060

### Getting coins

In [11]:
coins.coin("BTC")
coins.exchange("Poloniex")
coins.price(0.0, 100000, Date(2016, 11, 11))
coins.coin_data("BTC", { "field": "AGE" })
coins.coin_data("BTC", { "field": "VOL" , "period": 30, "freq": "d"})

NameError: name 'coins' is not defined