In [24]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [42]:
import requests
import pandas as pd
from datetime import datetime as Date
from datetime import tzinfo
import datetime

In [15]:
import libs.coins as coins
import libs.pairs as pairs
import libs.price as price
import libs.marketcap as marketcap

In [ ]:
import libs.ta as ta

In [ ]:
import libs.book as book
import libs.portfolio as portfolio
import libs.models as models
import libs.backtesting as backtesting

In [50]:
import analytics.dashboard as dashboard
import analytics.macro as macro
import analytics.coininfo as coininfo
import analytics.coinperformance as coinperformance
import analytics.bookperformance as bookperformance

import analytics.signals
import analytics.alerts

         Date        Volume    Close    Market-Cap
65 2017-10-18  2.399270e+09  5590.69  9.319020e+10
66 2017-10-17  1.821570e+09  5605.51  9.546930e+10

ImportError: No module named 'analytics.dashboard'; 'analytics' is not a package

In [49]:
start_date = Date(2017, 10, 17)
end_date = Date(2017, 11, 17)

# Gives historically market cap, market cap rank, price, supply
marketcap.historical("BTC", start_date, end_date) 

# Gives current market cap, market cap rank, price, supply of BTC in USD
marketcap.current("BTC", "USD")

marketcap.top(100, Date(2017, 10, 11))
marketcap.range(60, 80, Date(2017, 10, 11))

marketcap.smaller(1000000, Date(2017, 11, 22))
marketcap.bigger(10000, Date(2016, 11, 11))
marketcap.between(1000, 1000)

price.current(Pair("BTC", "USD"))
price.current(Coin("BTC"))

price.historical(Pair("BTC", "USD"), start_date, end_date, 
                 freq = "minute", size = 5, limit = 10, exchange='Poloniex')

price.historical(Pair("BTC", "USD"), start_date, end_date, 
                 freq = "daily", size = 1, limit = 10, exchange='Poloniex')

price.historical(Pair("BTC", "USD"), start_date, end_date, 
                 limit = 10, exchange='Poloniex')


coins.coin("BTC")
coins.exchange("Poloniex")
coins.price(0.0, 100000, Date(2016, 11, 11))

True

NameError: name 'pair' is not defined

In [20]:
def daily_price_hist(   symbol,
                        comparison_symbol,
                        limit,
                        aggregate,
                        toTs = None,
                        exchange=''):
    url = 'https://min-api.cryptocompare.com/data/histoday?fsym={}&tsym={}&aggregate={}'\
            .format(symbol.upper(), comparison_symbol.upper(), aggregate)
    if exchange:
        url += '&e={}'.format(exchange)

    if toTs:
        url += '&toTs={}'.format(toTs)
        
    if limit is None:
        url += '&allData=true'
    else:
        url += '&limit={}'.format(limit)

    page = requests.get(url)
    data = page.json()['Data']
    df = pd.DataFrame(data)
    df.index = [Date.fromtimestamp(d) for d in df.time]
    return df

In [21]:
daily_price_hist("BTC", "USD", 10, 1)

,close,high,low,open,time,volumefrom,volumeto
2017-12-21,15632.12,17301.83,14952.98,16461.09,1513814400,163735.02,2.619295e+09
2017-12-22,13664.97,15823.72,10875.71,15632.12,1513900800,466980.60,6.245732e+09
2017-12-23,14396.46,15493.23,13356.07,13664.97,1513987200,170169.39,2.491903e+09
2017-12-24,13789.95,14413.72,12166.45,14396.63,1514073600,182417.29,2.428438e+09
2017-12-25,13833.49,14467.43,13010.71,13789.95,1514160000,107475.98,1.487888e+09
2017-12-26,15756.56,16094.67,13748.49,13830.19,1514246400,143135.26,2.198577e+09
2017-12-27,15416.64,16514.59,14534.66,15757.02,1514332800,138705.28,2.162831e+09
2017-12-28,14398.70,15505.51,13466.07,15416.34,1514419200,170366.63,2.425913e+09
2017-12-29,14392.57,15109.81,13951.08,14398.45,1514505600,118874.63,1.733584e+09
2017-12-30,12531.52,14461.46,11962.09,14392.14,1514592000,182065.44,2.387311e+09
2017-12-31,13013.10,13364.03,12359.43,12532.38,1514678400,19815.34,2.584961e+08

In [48]:
start_date = Date(2017, 10, 17)
start_date = (start_date - Date(1970, 1, 1)) / datetime.timedelta(seconds=1)
start_date
Date.fromtimestamp(start_date)

1508198400.0

datetime.datetime(2017, 10, 17, 1, 0)

In [28]:
start_date = Date(2017, 10, 17)
end_date = Date(2017, 11, 17)

start_date = Date.fromtimestamp(1452680400)
daily_price_hist("BTC", "USD", 10, 1, toTs = 1452680400)

,close,high,low,open,time,volumefrom,volumeto
2016-01-03,430.70,434.14,423.09,433.72,1451779200,54826.26,23490162.61
2016-01-04,433.32,435.26,428.60,430.70,1451865600,53007.87,22943968.22
2016-01-05,431.20,435.25,428.87,433.32,1451952000,45029.87,19499588.99
2016-01-06,430.82,432.11,425.00,431.20,1452038400,43432.03,18702334.67
2016-01-07,457.05,457.54,428.52,430.82,1452124800,130197.44,58253615.03
2016-01-08,452.87,462.92,446.51,457.05,1452211200,91304.61,41594025.32
2016-01-09,448.31,454.55,444.90,452.87,1452297600,39809.95,17967113.95
2016-01-10,446.19,448.88,438.62,448.31,1452384000,44457.28,19778456.68
2016-01-11,447.72,451.08,441.77,446.19,1452470400,56587.40,25358480.83
2016-01-12,445.04,448.41,443.14,447.72,1452556800,44585.93,19913400.66
2016-01-13,432.18,443.72,420.39,445.04,1452643200,92040.06,39525195.32